<h2>{{@contact.firstName}} {{@contact.lastName}}</h2>
<address>
  {{@contact.address.street}}<br>
  {{@contact.address.postalCode}} {{@contact.address.city}}<br>
  {{@contact.address.country}}
</address>